
body{
    margin: 0;
    padding: 0;

}
.jinto{

    width:50%;
    height:auto;
    vertical-align:middle;
    align-items:center;
    margin-left: 25%;
    transition: 0.3s ease-in-out all;
    border-radius: 5px;
    cursor: pointer;
    clip-path: circle(65px at 85px 100px);
    background-color: black;
    
  
}
.jinto:hover{
    clip-path: circle(100%);
}
.box{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -33.5%);
    text-align: center;
    border-bottom: .7vw solid #fff;
    overflow: hidden;
    animation: anim 2.5s linear infinite;
    animation-delay:1s;
    animation-fill-mode: both;
    
}

.box h2{ 
     font-size: 10vw;
     color: #fff;
}
@keyframes anim{
    0%{
        width: 0;
        height: 0;
    }
    30%{
        width: 30vw;
        height: 0vw;

    }
    60%{
        width: 30vw;
        height: 7vw;
    }
    80%{
        width: 0vw;
        height: 0vw;
    }
    100%{
        width: 0vw;
        height: 0vw;
    }
}
.h2{
    font-family:'Times New Roman', Times, serif;
}